.jumbotron {
  background-image: url("jumbo.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-size: 100%;
  border-radius: 0%;
}

.jumbotron-content {
  position: relative;
  right: 0;
  top: 0;
  padding: 0px 15px;
  width: 30%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 5px;
}
