.jumbotron {
  background-image: url("jumbo.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-size: 100%;
  border-radius: 0%;
}

.jumbotron-content {
  position: relative;
  right: 0;
  top: 0;
  padding: 20px 15px;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 5px;
}


.input-group{
  margin-top: 40px;
  
}

.footer{
  background-color: black;
}

.father-container{
  margin-bottom: 1rem;
}

.card-body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: blue 1px solid;
}

.img-card{
  width: 80%;
  height: 70px;
  border: blue 1px solid;

}

.card-title{
  font-size: 14px;
  color: black;
  letter-spacing: -3;
  text-transform: uppercase;
}
