html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}

main{
    box-sizing: border-box;
    padding: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
font-size: 3em;
width: 500px;
text-align: center;
}

h2{
    font-size: 4em;
}

.texto{
    background-color: #3b3b3b;
    color: white;
    border-radius: 12px;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 40px;
    text-align: center;
    background-image: url('symbol.png');
    background-size: 40px;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 5px;
    font-family: 'Quicksand', sans-serif;
    padding: 25px 0px;
    width: 300px;

}

.boton{
    margin-top: 15px;
}

.button{
background-color: #3b3b3b;
color: white;
border-radius: 15px;
border: none;
outline: none;
box-shadow: none;
font-family: 'Quicksand', sans-serif;
line-height: 50px;
box-sizing: border-box;
padding: 0px 20px;
text-align: center;
align-content: center;

}

/* background-color
border: none;
border-radius: 15px;
text-decoration: none;
height: 50px;
color: white;
font-size: 20px;
padding: 15px 15px;
margin-top: 25px;
outline: none; */